<% include("./partials/header")%>
<head>
    <link type="text/css" rel="stylesheet" href="/public/css/index.css">
      
</head>
<h1 style="text-align: centre;color: cornsilk;"><B>ERORR!!!</B></h1>
<img src="https://as2.ftcdn.net/jpg/02/12/88/81/500_F_212888152_MH3NkL4Vu2rP0oDGKTSeLmOwSQEvdrVp.jpg" >
<p><B>404: Page Not Found. </B><br>We are terribly sorry, but the URL you typed no longer exists.<br> It might have been moved or deleted, or perhaps you mistyped it</p>
<% include("./partials/footer")%>