<%- include("./partials/header")%>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4"><B>WELCOME</B>HERE</h1>
            <h2>Millions of movies,series and many more...<i>Explore now</i></h2>
            <p class="lead"></p>
            <hr class="my-4">
            <p></p>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/result" method="GET">
          <input class="form-control mr-sm-2" type="search" placeholder="Enter Movie name" aria-label="Search" name="movieName">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
          </div>
    </div>
<%- include("./partials/footer")%>
    